@model IEnumerable<FitnesSkopjeWebApp.Models.Favourite>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="favourites" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.userId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gymId)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.userId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.gymId)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.id })
                </td>
            </tr>
        }
    </tbody>


</table>


@section Scripts{
    <script>
        $(document).ready(function () {
            $("#favourites").DataTable();
        });

    </script>

}
