@model (List<FitnesSkopjeWebApp.Models.Gym> gyms, List<FitnesSkopjeWebApp.Models.Favourite> favourites)

@{
    ViewBag.Title = "Index";
}

<link href="~/Content/Style.css" rel="stylesheet" />

<br />
<br />
<h2>Омилени теретани</h2>
<hr />

<div class="table-container" id="tableContainerFavorites">
        <table id="tablefav" class="table">
            <thead>
                <tr>
                    @*<th>
                        @Html.DisplayNameFor(model => model.userId)
                    </th>*@
                    <th>
                        @Html.DisplayNameFor(model => model.favourites.First().gymName)
                    </th>
                    @*<th></th>*@
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model.favourites)
                {
                    <tr>
                        @*<td>
                            @Html.DisplayFor(modelItem => item.userId)
                        </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.gymName)
                        </td>
                        <td>
                            @*<a href="@Url.Action("Edit", "Favourites", new { id = item.id })">
                                <img width="20" height="20" src="@Url.Content("~/Images/edit.png")" />
                            </a>
                            <a href="@Url.Action("Details", "Favourites",new { id = item.id })">
                                <img width="20" height="20" src="@Url.Content("~/Images/details.png")" />
                            </a>*@
                            <a href="@Url.Action("Delete", "Favourites", new { id = item.id })">
                                <img width="20" height="20" src="@Url.Content("~/Images/delete.png")" />
                            </a>
                        </td>
                    </tr>
                }
            </tbody>


        </table>
</div>
