@model FitnesSkopjeWebApp.Models.Review

@{
    ViewBag.Title = "Details";
}
<br />
<h2>Детали</h2>
<div>
    @*<h4>Review</h4>*@
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.userId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userId)
        </dd>*@
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.gym.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gym.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comment)
        </dd>
        <br />
    </dl>
</div>
<p>
    <button class="btn btn-default" id="edit1">@Html.ActionLink("Edit", "Edit", new { id = Model.id }) </button> 
    <a class="btn btn-default" href="javascript:history.back()" style="background-color: rgba(41,61,144,1); border: 1px px solid rgb(37 95 215)">Назад</a>
</p>
