@model IEnumerable<FitnesSkopjeWebApp.Models.Review>

@{
    ViewBag.Title = "My Reviews";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="reviews" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.userId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gym.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.comment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.userId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.gym.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.rating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.comment)
                </td>
                <td>
                    <a href="@Url.Action("Edit", "Reviews", new { id = item.id })">
                        <img width="20" height="20" src="@Url.Content("~/Images/edit.png")" />
                    </a>
                    <a href="@Url.Action("Details", "Reviews", new { id = item.id })">
                        <img width="20" height="20" src="@Url.Content("~/Images/details.png")" />
                    </a>
                    <a href="@Url.Action("Delete", "Reviews", new { id = item.id })">
                        <img width="20" height="20" src="@Url.Content("~/Images/delete.png")" />
                    </a>
                </td>
            </tr>
        }
    </tbody>

</table>

@section  Scripts{
    <script>
        $(document).ready(function () {
            $("#reviews").DataTable({
                pageLength: 5,
                lengthMenu: [[5, 10, 20, -1], [5, 10, 20, 'All']]
            });
        });
    </script>
    
}
