@model IEnumerable<FitnesSkopjeWebApp.Models.Gym>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="gyms" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkingTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Areas)
            </th>
            <th>
                Map
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WorkingTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Areas)
                </td>
                <td id="gymMap">
                    <div class="item" data-gym-latitude="@item.Latitude" data-gym-longitude="@item.Longitude">
                        See map
                        <iframe style="display:none" class="map" width="200" height="200" src="https://maps.google.com/maps?q=@item.Latitude,@item.Longitude&hl=es;z=17&amp;output=embed"></iframe>
                    </div>

                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>

</table>

@section Scripts{
    <script>
        $(document).ready(function () {

            $("#gyms").DataTable({
                pageLength: 5,
                lengthMenu: [[5, 10, 20, -1], [5, 10, 20, 'All']]
            });

            $(".item").mouseover(function () {
                $(this).children(".map").show();
            }).mouseout(function () {
                $(this).children(".map").hide();
            });

        });
    </script>

    @*<script>
        $(document).ready(function () {
            //$("#gymMap #item").hover(function () {
            //    var lattitude = $(this).attr("data-gym-latitude");
            //    var longitude = $(this).attr("data-gym-longitude");
            //    console.log(lattitude, longitude);
            //})

            $(".item").mouseover(function () {
                $(this).children(".map").show();
            }).mouseout(function () {
                $(this).children(".map").hide();
            });

        });*@
    @*</script>*@
   @* <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>*@

}
