@model (List<FitnesSkopjeWebApp.Models.Gym> gyms ,List<FitnesSkopjeWebApp.Models.Favourite> favourites)


    @{
        ViewBag.Title = "Index";
    }

    <style>
        .item {
            cursor: pointer;
        }

        a {
            display: inline;
        }
    </style>

    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table id="gyms" class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.gyms.First().Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.gyms.First().Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.gyms.First().Number)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.gyms.First().WorkingTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.gyms.First().Areas)
                </th>
                <th>
                    Map
                </th>
                <th>
                    Add to favourites
                </th>
                    <th></th>
                </tr>
        </thead>

        <tbody>
            @foreach (var item in Model.gyms)
            {
                <tr onclick="Redirect(@item.Id)">
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Number)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.WorkingTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Areas)
                    </td>
                    <td id="gymMap">
                        <div class="item" data-gym-latitude="@item.Latitude" data-gym-longitude="@item.Longitude">
                            See map
                            <iframe style="display:none" class="map" width="200" height="200" src="https://maps.google.com/maps?q=@item.Latitude,@item.Longitude&hl=es;z=17&amp;output=embed"></iframe>
                        </div>

                    </td>
                    <td>
                        @using (Html.BeginForm("Create", "Favourites", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="gymId" id="gym_Id" value="@item.Id" />
                            <input type="hidden" name="gymName" id="gym_Name" value="@item.Name" />

                            if (Model.favourites.Where(a => a.gymId == item.Id && a.userId == ViewBag.userId).FirstOrDefault() == null)
                            {
                                <button type="submit" class="btn btn-link"> <img width="25" height="25" src="@Url.Content("~/Images/empty_heart.png")" /></button>
                            }
                            if (Model.favourites.Where(a => a.gymId == item.Id && a.userId == ViewBag.userId).FirstOrDefault() != null)
                            {
                                <button type="submit" class="btn btn-link"> <img width="25" height="25" src="@Url.Content("~/Images/full_heart.png")" /></button>
                            }
                        }
                    </td>
                    <td>
                        @if (User.IsInRole("Admin"))
                        {
                            <a href="@Url.Action("Edit", "Gyms", new { id = item.Id })">
                                <img width="20" height="20" src="@Url.Content("~/Images/edit.png")" />
                            </a>
                            @* on row click details are shown *@
                            @*@Html.ActionLink("Details", "Details", new { id = item.Id }) |*@
                            <a href="@Url.Action("Delete", "Gyms", new { id = item.Id })">
                                <img width="20" height="20" src="@Url.Content("~/Images/delete.png")" />
                            </a>
                        }

                    </td>
                </tr>
            }
        </tbody>

    </table>

    @section Scripts{
        <script>
            $(document).ready(function () {

                $("#gyms").DataTable({
                    pageLength: 5,
                    lengthMenu: [[5, 10, 20, -1], [5, 10, 20, 'All']]
                });

                $(".item").mouseover(function () {
                    $(this).children(".map").show();
                }).mouseout(function () {
                    $(this).children(".map").hide();
                });


            });

            function Redirect(itemId) {
                location.pathname = "Gyms/Details/" + itemId
            };
        </script>

        <style>
            tbody tr:hover {
                background-color: lightblue;
            }
        </style>

        @*<script>
            $(document).ready(function () {
                //$("#gymMap #item").hover(function () {
                //    var lattitude = $(this).attr("data-gym-latitude");
                //    var longitude = $(this).attr("data-gym-longitude");
                //    console.log(lattitude, longitude);
                //})

                $(".item").mouseover(function () {
                    $(this).children(".map").show();
                }).mouseout(function () {
                    $(this).children(".map").hide();
                });

            });*@
        @*</script>*@
        @* <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>*@

    }
